<div id="create-job-container">
 <h1>Update your Profile</h1>
<div class="create-job-form">
<form method="post" action="/user/update">
<div class="input-group mb-3 ">
  <input type="text" class="form-control"  aria-label="my name" name="name" value="{{usersProfile.name}}">
</div>

<div class="input-group mb-3 ">
  <input type="text" class="form-control" aria-label="my location" name="location" value="{{usersProfile.location}}">
</div>

<div class="input-group mb-3">
  <input class="form-control" type="number" maxlength="15" minlength="8" aria-label="my Phone" name="telephoneNumber" value="{{usersProfile.telephoneNumber}}"></input>
</div>

<div class="input-group mb-3">
      <input class="form-control" type="number" max="99" min="16" aria-label="my age" name="age" value="{{usersProfile.age}}"></input>
</div>

<div class="input-group mb-3">
      <input class="form-control" type="email" aria-label="my email" name="email" value="{{usersProfile.email}}"></input>
</div>


<button class="create-job-btn" type="Submit">Submit</button>

</form>
</div>
</div>