<h1 class="text-center">Welcome {{usersProfile.name}}</h1>

<div class="container">
    <div class="card col-12" style="">
  <div class="card-body height">
    <h5 class="card-title">Company Name: {{usersProfile.name}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Location: {{usersProfile.location}}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">Description: {{usersProfile.companyDescription}}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">Established: {{usersProfile.established}}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">Email: {{usersProfile.email}}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">Number of Employees: {{usersProfile.employees}}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">Url: {{usersProfile.url}}</h6>

    <a href="/user/company/profileUpdate"><button type="button" class="btn btn-primary btn-sm mt-2">Update my Profile</button></a>
    
    <form method="POST" action="/user/company/profile/delete" style="display: inline;">
        <button type="submit" class="btn btn-danger btn-sm mt-2">Delete my Account</button>
    </form>
    <p>please note: if you press the delete Button, you won't be able to login again</p>
  </div>
</div>
</div>