<h1 class="mt-3 mb-3 text-center">My listings</h1>
  
{{#if jobs}}
<div class="container height">
  <div class="row">
  {{#each jobs}} 
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 product mb-3" style="padding: 10px;">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{this.company.name}}</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{this.location}}</h6>
        <p class="card-text">{{this.jobDescription}}</p>
        <div class="mt-auto" style="padding-bottom: 0px">
          <button type="button" class="btn btn-primary btn-sm mt-2" onclick="location.href='/jobs/{{this.id}}/'">Details</button>
          <button type="button" class="btn btn-primary btn-sm mt-2" onclick="location.href='/jobs/{{this.id}}/update'">Update</button>
          <form method="POST" action="/jobs/{{this.id}}/delete" style="display: inline;">
            <button type="submit" class="btn btn-danger btn-sm mt-2">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  </div>
</div>
{{else}}
<h1 class="height">You have not uploaded any listings</h1>
{{/if}}

