<div class="job-details">
  <h1>{{this.title}}</h1>
  <ul class="details-container">

    <p>
      <li class="details-list">
        <strong>Company Name: </strong>
        {{this.company.name}}
        <br />
      </li>
      <li class="details-list">
        <strong>Description: </strong>
        {{this.jobDescription}}
        <br /></li>
      <li class="details-list">
        <strong>Location: </strong>
        {{this.location}}
        <br />
      </li>
      <li class="details-list">
        <strong>Details:</strong>{{this.details}}
        <br /></li>
      <li class="details-list">
        <strong>Salary:</strong>
        {{this.salary}}
        <br /></li>
    </p>

  </ul>
  <p class="apply-par">If you are interested in this job, apply here:</p>
  <button type="button" class="btn btn-success">Apply</button>
</div>