<div class="job-details">
  <h1 class="mt-3 mb-3 text-center">{{this.title}}</h1>
  <ul class="details-container">

    <p>
      <li class="details-list">
        <strong>Company Name: </strong>
        {{this.companyId.name}}
        <br />
      </li>
      <li class="details-list">
        <strong>Description: </strong>
        {{this.jobDescription}}
        <br /></li>
      <li class="details-list">
        <strong>Location: </strong>
        {{this.location}}
        <br />
      </li>
      <li class="details-list">
        <strong>Details:</strong>{{this.details}}
        <br /></li>
      <li class="details-list">
        <strong>Salary:</strong>
        {{this.salary}}
        <br /></li>
    </p>

  </ul>

  {{#unless isCompany}}
  <div class="apply-for-job">
  <p class="apply-par">If you are interested in this job, apply here:</p>
  <form action="/jobs/apply" method="GET">
  <button type="submit" class="btn btn-success">Apply</button>
  </div>
  {{/unless}}
  </form>
</div>