<h1>{{this.title}}</h1>
<ul>
    
    <li>
      <p>
        Company Name: {{this.company.name}} <br />
        Description: {{this.jobDescription}} <br />
        Location: {{this.location}} <br />  
        Details: {{this.details}}  <br />
        salary: {{this.salary}} <br />
      </p>
    </li>
   
</ul>
