<h1 class="mt-3 mb-3 text-center">Jobs list</h1>


<div class="container ">
  {{#each jobs}}
<div class="row">

  <div class="col-12 col-sm-6 col-md-4 product mb-3">
    <div class="card" style="width: 18rem; height:14rem;">
      <div class="card-body">

        <h5 class="card-title">{{this.title}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{this.company.name}}</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{this.location}}</h6>
        <p class="card-text">{{this.jobDescription}}</p>
        <a href="/jobs/{{this.id}}" class="card-link btn btn-primary">Details</a>

      </div>
    </div>
  </div>

</div>

  {{/each}}
</div>